<div class="row">
    <div class="col-sm-12 col-md-6">
        {{#each todoItems}}
        <div>
            <a href="/new/{{id}}">Title: {{title}}</a>
            <p>Summary: {{{summary}}}</p>
        </div>
        {{/each}}
    </div>
    <div id="new-content">
    </div>
</div>

