<div class="col-sm-12 col-md-4">
    <form id="new-form">
        <label>Title<input id="note-title" type="text" /></label>
        <label>Summary
            <textarea id="note-summary"></textarea>
        </label>
        <label>Due On<input type="date" id="note-due"></label>
        <label>Body
            <textarea id="note-body"></textarea>
        </label>
        <input type="submit" value="add new note"/>
    </form>
    <div>
        <a href="../">List</a>
    </div>
    <div id="alert" class="hidden">
Error    </div>
</div>

